<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<p style="font-family:Tahoma, Geneva, sans-serif;
    font-size:14.0px;
    font-style:normal;
    line-height:16px;
    font-weight:normal;
    color:#000000;">Hi [username],</p>

<p style="font-family:Tahoma, Geneva, sans-serif;
    font-size:14.0px;
    font-style:normal;
    line-height:16px;
    font-weight:normal;
    color:#000000;">[body]</p>

<table id="zs-output-sig" 
     style="font-family:Arial,Helvetica,sans-serif;
                   line-height:0px;
                   font-size:1px;
                   padding:0px;
                   border-spacing:0px;
                   margin:0px;
                   border-collapse:collapse; 
                   width:425px;" 
                        cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td>
                    <table 
                        style="font-family:Arial,Helvetica,sans-serif;
                        line-height:0px;
                        font-size:1px;
                        padding:0px;
                        border-spacing:0px;
                        margin:0px;
                        border-collapse:collapse;" 
                           cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table 
                                        style="font-family:Arial,Helvetica,sans-serif;
                                        line-height:0px;
                                        font-size:1px;
                                        padding:0px;
                                        border-spacing:0px;
                                        margin:0px;
                                        border-collapse:collapse;" 
                                           cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table style="font-family:Arial,Helvetica,sans-serif;
                                                            line-height:0px;
                                                            font-size:1px;
                                                            padding:0px;
                                                            border-spacing:0px;
                                                            margin:0px;
                                                            border-collapse:collapse;" 
                                                               cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                    <table style="font-family:Arial,Helvetica,sans-serif;
                                                                        line-height:0px;
                                                                        font-size:1px;
                                                                        padding:0px;
                                                                        border-spacing:0px;
                                                                        margin:0px;
                                                                        border-collapse:collapse;" 
                                                                           cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="border-collapse:collapse;
                                                                                        font-family:Tahoma, Geneva, sans-serif;
                                                                                        font-size:14.0px;
                                                                                        font-style:normal;
                                                                                        line-height:16px;
                                                                                        font-weight:normal;">
                                                                                        <span style="font-family:Tahoma, Geneva, sans-serif;
                                                                                           font-size:14.0px;
                                                                                           font-style:normal;
                                                                                           line-height:16px;
                                                                                           font-weight:normal;
                                                                                           color:#8b8b8b;
                                                                                           display:inline;">
                                                                                            Kind Regards!</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="border-collapse:collapse;
                                                                                            padding-bottom:7px;
                                                                                            height:7px;">
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                <td>
                    <table style="font-family:Arial,Helvetica,sans-serif;
                        line-height:0px;
                        font-size:1px;
                        padding:0px;
                        border-spacing:0px;
                        margin:0px;
                        border-collapse:collapse;" 
                           cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="81">
                                    <table style="font-family:Arial,Helvetica,sans-serif;
                                        line-height:0px;
                                        font-size:1px;
                                        padding:0px;
                                        border-spacing:0px;
                                        margin:0px;
                                        border-collapse:collapse;" 
                                           cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="border-collapse:collapse;
                                                        line-height:0px;">
                                                    <img alt="" 
                                                         src="https://y5t6h9a6.stackpathcdn.com/2ec4f555-59e7-4151-b02f-2f86fca26513/-/resize/162x162/img.png" 
                                                         width="81" 
                                                         height="81" 
                                                         border="0">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse:collapse;
                                                        padding-bottom:10px;
                                                        height:10px;">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="border-collapse:collapse;
                                                padding-right: 9px;
                                                width: 9px;" 
                                                width="9">
                                    </td>
                                    <td>
                                    <table style="font-family:Arial,Helvetica,sans-serif;
                                        line-height:0px;
                                        font-size:1px;
                                        padding:0px;
                                        border-spacing:0px;
                                        margin:0px;
                                        border-collapse:collapse;" 
                                           cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table style="font-family:Arial,Helvetica,sans-serif;
                                                        line-height:0px;
                                                        font-size:1px;
                                                        padding:0px;
                                                        border-spacing:0px;
                                                        margin:0px;
                                                        border-collapse:collapse;" 
                                                           cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table style="font-family:Arial,Helvetica,sans-serif;
                                                                    line-height:0px;
                                                                    font-size:1px;
                                                                    padding:0px;
                                                                    border-spacing:0px;
                                                                    margin:0px;
                                                                    border-collapse:collapse;" 
                                                                       cellspacing="0" cellpadding="0" border="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="border-collapse:collapse;
                                                                            font-family:Tahoma, Geneva, sans-serif;
                                                                            font-size:14.0px;
                                                                            font-style:normal;
                                                                            line-height:16px;
                                                                            font-weight:bold;">
                                                                        <span style="font-family:Tahoma, Geneva, sans-serif;
                                                                            font-size:14.0px;
                                                                            font-style:normal;
                                                                            line-height:16px;
                                                                            font-weight:bold;
                                                                            color:#3600d8;
                                                                            display:inline;">
                                                                            Krystal Ruwoldt&nbsp;</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="border-collapse:collapse;
                                                                            padding-bottom:1px;
                                                                            height:1px;">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                         </td>
                                                       </tr>
                                                   </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="font-family:Arial,Helvetica,sans-serif;
                                                    line-height:0px;
                                                    font-size:1px;
                                                    padding:0px;
                                                    border-spacing:0px;
                                                    margin:0px;
                                                    border-collapse:collapse;" 
                                                       cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table style="font-family:Arial,Helvetica,sans-serif;
                                                                    line-height:0px;
                                                                    font-size:1px;
                                                                    padding:0px;
                                                                    border-spacing:0px;
                                                                    margin:0px;
                                                                    border-collapse:collapse;" 
                                                                       cellspacing="0" cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="border-collapse:collapse;
                                                                               font-family:Tahoma, Geneva, sans-serif;
                                                                               font-size:14.0px;
                                                                               font-style:normal;
                                                                               line-height:16px;
                                                                               font-weight:normal;">
                                                                                <span style="font-family:Tahoma, Geneva, sans-serif;
                                                                                    font-size:14.0px;
                                                                                    font-style:normal;
                                                                                    line-height:16px;
                                                                                    font-weight:normal;
                                                                                    color:#8b8b8b;
                                                                                    display:inline;">
                                                                                    <a href="https://germistry.com">www.germistry.com</a>
                                                                                    
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="border-collapse:collapse;
                                                                                padding-bottom:1px;
                                                                                height:1px;">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="border-collapse:collapse;
                                                                                font-family:Tahoma, Geneva, sans-serif;
                                                                                font-size:14.0px;
                                                                                font-style:normal;
                                                                                line-height:16px;
                                                                                font-weight:normal;">
                                                                                    <span style="font-family:Tahoma, Geneva, sans-serif;
                                                                                        font-size:14.0px;
                                                                                        font-style:normal;
                                                                                        line-height:16px;
                                                                                        font-weight:normal;
                                                                                        color:#8b8b8b;
                                                                                        display:inline;">
                                                                                        <a href="mailto:germistry@germistry.com">germistry@germistry.com</a>
                                                                                    </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="border-collapse:collapse;
                                                                                padding-bottom:3px;
                                                                                height:3px;">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="font-family:Arial,Helvetica,sans-serif;
                                                    line-height:0px;
                                                    font-size:1px;
                                                    padding:0px;
                                                    border-spacing:0px;
                                                    margin:0px;
                                                    border-collapse:collapse;" 
                                                       cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table style="font-family:Arial,Helvetica,sans-serif;
                                                                    line-height:0px;
                                                                    font-size:1px;
                                                                    padding:0px;
                                                                    border-spacing:0px;
                                                                    margin:0px;
                                                                    border-collapse:collapse;" 
                                                                       cellspacing="0" cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <a style="font-size: 0px; 
                                                                                    line-height: 0px;" 
                                                                                    target="_blank" rel="nofollow" href="https://www.facebook.com/krystal.ruwoldt">
                                                                                    <img alt="facebook" src="https://r8g4u6u5.stackpathcdn.com/assets/social/24/native/03facebook.gif" width="24" height="24" border="0">
                                                                                </a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;padding-right:5px;width:5px;">
                                                                            </td>
                                                                            <td>
                                                                                <a style="font-size: 0px; 
                                                                                    line-height: 0px;" 
                                                                                    target="_blank" rel="nofollow" href="https://github.com/germistry">
                                                                                    <img alt="github" src="https://r8g4u6u5.stackpathcdn.com/assets/social/24/native/03github.gif" width="24" height="24" border="0">
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="border-collapse:collapse;
                                                                                padding-bottom:4px;
                                                                                height:4px;">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="border-collapse:collapse;
                padding-bottom:8px;
                height:8px;">
            </td>
        </tr>
        <tr>
            <td style="border-collapse:collapse">
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>