@page
@model ContactMeModel
@{
    ViewData["Title"] = "Contact Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "This is the contact page for the website germistry aka Krystal Ruwoldt.";
    ViewBag.Keywords = "contact";
}

<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@ViewData["Title"]</h2>
            <hr />
            <a href="https://www.facebook.com/krystal.ruwoldt/" title="Facebook"><i class="fab fa-facebook contact-icons"></i></a>
            &emsp;<a href="https://github.com/germistry" title="Github"><i class="fab fa-github contact-icons"></i></a>
        </div>
    </div>
    <div class="container">
        <form class="form-content-editing" method="post">
            <div asp-validation-summary="All" class="form-group row text-danger"></div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col">
                    <input class="form-control" asp-for="Input.Name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col">
                    <input class="form-control" asp-for="Input.Email" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Subject</label>
                <div class="col">
                    <select class="form-control" asp-for="Input.Subject">
                        <option value="General Enquiry">General Enquiry</option>
                        <option value="Request CV">Request CV</option>
                        <option value="User Enquiry">User Enquiry</option>
                        <option value="Report Website Issue">Report Website Issue</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Message</label>
                <div class="col">
                    <textarea class="form-control" asp-for="Input.Message"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="text-xl-right text-lg-right text-md-right text-sm-right checkbox">
                    <label asp-for="Input.PrivacyConsent">
                        <input asp-for="Input.PrivacyConsent" />
                        @Html.DisplayNameFor(m => m.Input.PrivacyConsent)
                    </label>
                </div>
                <div class="text-xl-right text-lg-right text-md-right text-sm-right">
                    <a asp-controller="Home" asp-action="Privacy">Read the Privacy Policy</a>
                </div>
            </div>

            @*<div class="form-group row">
                    <div class="offset-md-3 col-md-9">
                        <div class="g-recaptcha"
                             data-sitekey="enter recaptcha client key here"></div>
                    </div>
                </div>*@

            <div class="form-group row text-center">
                <div class="col-12 padding-btm-1">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // extend jquery range validator to work for required checkboxes
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function(value, element, param) {
            if(element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

}