@page
@model ContactResultModel
@{
    ViewData["Title"] = "Contact Result";
}
<div class="container padding-top-08r">
    <h2>@ViewData["Title"]</h2>

    <p>Thankyou for your email. I will endeavour to reply to your enquiry as soon as possible.</p>
</div>