@model PostCommentViewModel

@{

}

<div>
    <form method="post" asp-controller="Home" asp-action="PostComment">
        <input asp-for="PostId" type="hidden" />
        <input asp-for="MainCommentId" type="hidden" />
        <input asp-for="PostSlug" type="hidden" />
        <div class="row padding-top-1">
            <div class="col-12 padding-btm-05">
                <textarea class="form-control" id="message" asp-for="Message" required></textarea>
            </div>
            <div class="col-12 padding-btm-05">
                <label>I have read and acknowledge the 
                    <a asp-area="" asp-controller="Home" asp-action="CommentaryGuidelines" title="Commentary Guidelines" 
                       target="_blank">Commentary Guidelines</a></label>
                <input type="checkbox" asp-for="GuidelinesConsent" required />
            </div>
            <div class="col-12 padding-btm-05">
                <input class="btn btn-secondary btn-sm" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />  
}