@model IEnumerable<About>
@{
    ViewData["Title"] = "About";
    ViewBag.Description = "This is the about page of the website germistry aka Krystal Ruwoldt.";
    ViewBag.OGType = "article";
    ViewBag.OGUrl = "https://germistry.com/Home/About";
    ViewBag.Keywords = "portfolio blog web software app development design database middleware ui program code sql c# java python html css bootstrap django asp dotnet opengl";
    var base_path = Context.Request.PathBase;
}
<div class="container">

    <div class="row padding-top-08r">
        <div class="col-12">
            <nav class="breadcrumb-about" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container padding-top-1 padding-btm-1">
    <div class="row">
        <div class="col-12">
            <h5 class="text-justify about-heading">If you are new to this site, this is a good place to start to learn about me and the purpose of this website.</h5>
            <p class="text-justify about-intro">I update this about page regularly, so if you have been here before, you may find something new!</p>
            <ul class="about-list">
                @foreach (var about in Model)
                {
                    <li>
                        <a href="#aboutsect@(about.Id)">@about.Heading</a>
                    </li>
                }
            </ul>

        </div>
        @foreach (var about in Model)
        {
            <div id="aboutsect@(about.Id)"></div>          
            <div class="card h-100 w-100 margin-lft-1 margin-right-1 margin-btm-1">
                <div class="card-body">
                    <h3 class="card-title section-heading" id="aboutsection@(about.Id)">@about.Heading</h3>
                    <hr class="section-hr" />
                    <div class="card-text pgh-size-16">
                        <p>@Html.Raw(about.Body)</p>
                    </div>
                    <hr class="section-hr" />
                    <h6><a href="#topofpage">Click to Return to Top</a></h6>
                </div>

            </div>
            
        }
    </div>
</div>




