@{
    ViewData["Title"] = "Commentary Guidelines";
    ViewBag.Description = "These are the commentary guidelines for users of the website germistry aka Krystal Ruwoldt.";
    ViewBag.Keywords = "commentary guidelines";
}
<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@ViewData["Title"]</h2>
            <hr />
        </div>
    </div>
</div>
<div class="container">
    <p class="text-justify">The comments section of my blog and portfolio is an opportunity for you and other readers to 
        engage in conversation about the topic and to share your ideas, thoughts and feedback in a positive way.</p>
    <p class="text-justify">The guidelines below, the 
        <a asp-area="" asp-controller="Home" asp-action="Terms" title="Terms of Use" target="_blank">Terms and Conditions</a>
        as well as the context in which the comment is made are all taken into consideration by my moderators. If your 
        comment does not meet these standards, your comment will be removed from the website and you possibly could be 
        banned from making further comments. Just play by the rules and you’ll be fine!</p>
    <p class="text-justify">My aim is to have constructive conversations in an environment where people feel welcomed, 
        accepted and safe to share their original thoughts and ideas.</p>
    <h3>The Commentary Guidelines</h3>
    <ul>    
        <li>Be respectful – in addressing other commenters, of their boundaries and of myself</li>
        <li>Your opinions are very welcome but stay focused on the subject at hand – constructive criticism of ideas - 
            never people</li>
        <li>Keep your language in check. Comments which may cause offense, are prejudicial or profane will be removed</li>
    </ul>
    <p class="text-justify">The following behaviour is out of order and will result in commenters being banned:</p>
    <ul>
        <li>Infringements of copyright, trademarks or other intellectual property rights of any person or organisation</li>
        <li>Defamatory statements</li>
        <li>Statements which degrade others on the basis of gender, race, class, ethnicity, national origin, religion, 
            sexual orientation, disability, or other classification</li>
        <li>Obscene, pornographic, sexually explicit, or vulgar comments</li>
        <li>Statements which appear predatory, hateful, or intimidate or harass, or name-calling</li>
        <li>Statements which contain or advocate illegal or violent acts</li>
        <li>Including personal information in your comment such as addresses, phone numbers, workplaces</li>
        <li>Any violation of state, national, or international law</li>
        <li>Spam, advertising, a promotion or any solicitation of any kind</li>
        <li>Pretending you are someone else</li>
    </ul>
    <p class="text-justify">So, if it is believed you are violating these commenting guidelines, you will be sent a notification 
        via email that you have been banned from commenting for the foreseeable future.</p>
    <p class="text-justify">I do my best to ensure fairness, but in all cases I reserve the right to ban accounts
        without notice, for any reason, but particularly to protect the website service, myself, readers and 
        community. I am not obliged to publish any comment on www.germistry.com if it breaches the guidelines or for 
        any other reason. I reserve the right to enforce these commenting guidelines at my discretion.</p>
    <p class="text-justify">If have any questions about these guidelines, please send a message on the 
        <a asp-area="Home" asp-page="/ContactMe" title="Contact Me" target="_blank">Contact Page</a> page.</p>
</div>