@{
    ViewData["Title"] = "Cookie Policy";
    ViewBag.Description = "This is the cookie policy for the website germistry aka Krystal Ruwoldt.";
    ViewBag.Keywords = "cookie policy";
}
<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@ViewData["Title"]</h2>
            <hr />
        </div>
    </div>
    <div class="container">
        <p class="text-justify">Last updated: September 23, 2020</p>
        <p class="text-justify">
            This Cookie Policy provides information about how and when We use cookies, and their purpose/s.
        </p>
        <h3>Interpretation and Definitions</h3>
        <h4>Interpretation</h4>
        <p class="text-justify">
            Capitalized terms used in this Cookie Policy but not defined have their meaning set forth in the
            <a asp-area="" asp-controller="Home" asp-action="Privacy" title="Privacy Policy" target="_blank">Privacy Policy</a>
            which also includes additional details about the collection and use of Your Personal Information.
        </p>
        <h4>What is a Cookie?</h4>
        <p class="text-justify">
            Cookies are small text files sent by Our Service to Your computer or mobile device.
            They are unique to Your account or your browser. Session-based cookies last only while your browser is
            open and are automatically deleted when You close Your browser. Persistent cookies last until You or Your
            browser delete them or until they expire.
        </p>
        <p class="text-justify">
            To learn more about cookies, please visit this
            <a href="https://www.allaboutcookies.org/" target="_blank" title="www.allaboutcookies.org">website</a>.
        </p>
        <p class="text-justify"></p>
        <h3>How Cookies Are Used</h3>
        <p class="text-justify">
            Our Service uses both session-based and persistent cookies. We do not currently use
            third-party cookies, like Google Analytics.
        </p>
        <p class="text-justify">
            Session cookies are essential to provide You with services available through the Website and to enable
            You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts.
            Without these Cookies, the services that You have asked for cannot be provided, and We only use these
            Cookies to provide You with those services.
        </p>
        <p class="text-justify">
            Persistent cookies include those used to identify if users have accepted the use of cookies
            on the Website, or the accepted the Privacy Policy of the Website. These are called Notice of Acceptance
            Cookies. Persistent cookies also include those that allow us to remember choices You make when You use
            the Website, such as remembering your login details or language preference. The purpose of these
            Cookies is to provide You with a more personal experience and to avoid You having to re-enter
            your preferences every time You use the Website.
        </p>
        <p class="text-justify">The cookies we use fall under these general categories:</p>
        <ul>
            <li>
                <p class="text-justify">
                    <strong>Authentication: </strong>
                    If you're signed in to Our Service, cookies help Us show You the right information (such as
                    Your username and user profile picture) to personalize Your experience.
                </p>
            </li>
            <li>
                <p class="text-justify">
                    <strong>Security: </strong>
                    We use cookies to enable and support Our security features, and to help Us detect malicious activity.
                </p>
            </li>
            <li>
                <p class="text-justify">
                    <strong>Preferences, Features and Services: </strong>
                    Cookies can tell Us what Your communications preferences are. They can help You fill out forms on
                    Our Website more easily. They can also provide you with features, insights, and customized content.
                </p>
            </li>
        </ul>
        <h3>Marketing and Advertising</h3>
        <p class="text-justify">
            Our Service does not currently deliver any marketing campaigns that require the use of cookies, 
            nor have advertising on our site. If this is to change in the future, this Policy and others as necessary 
            will change to reflect this. 
        </p>
        <h3>Do Not Track Signals</h3>
        <p class="text-justify">
            Our Services do not collect personal information about Your online activities over time
            and across third-party websites or online services. Therefore, “do not track” signals transmitted from web
            browsers do not apply to Our Services, and so We do not alter any of Our data collection and use practices
            upon receipt of such a signal.
        </p>
        <h3>Changes to this Cookie Policy</h3>
        <p class="text-justify">
            We may update our Cookie Policy from time to time. We will notify You of any changes
            by posting the new Cookie Policy on this page.
        </p>
        <p class="text-justify">
            We will let You know via email and/or a prominent notice on Our Service, prior to
            the change becoming effective and update the &quot;Last updated&quot; date at the top of this Cookie
            Policy.
        </p>
        <p class="text-justify">
            You are advised to review this Cookie Policy periodically for any changes. Changes
            to this Cookie Policy are effective when they are posted on this page.
        </p>
        <h3>Contact Us</h3>
        <p class="text-justify">
            If you have any questions about this Cookie Policy You can contact Us by visiting this
            <a asp-area="Home" asp-page="/ContactMe" title="Contact Me" target="_blank">Contact Page</a>
            on the website.
        </p>
    </div>
</div>
