@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" data-nosnippet class="alert alert-primary alert-dismissible fade show cookie-consent" role="alert">
        This website uses cookies to ensure you get the best user experience on this website. <a asp-controller="Home" asp-action="Privacy">Read Privacy Policy</a>
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script src="~/js/consentcookie.min.js"></script>
    
}