/*------Fixes for various things------*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
/* Bootstrap padding fix */
[class*="col-"] {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

/* Reset html and body for custom styles */
html, body {
    height: 100%;
    width: 100%;
    color: #C195F4;
}
/* Darker body to differ navbar & footer and void margin as using padding for spacing*/
body {
    margin: 0;
    background-color: #0A0A0A;
    padding-top: 3.7rem;
}
/* General settings */
.btn-default {
    color: #7454D3;
}
.btn-padding {
    padding-right: 1rem;
}
.col-padding {
    padding-bottom: 0.5rem;
}
.border-dark-top {
    border-top: 1px solid #3600D8;
    padding-bottom: 0;
    margin-bottom: 0;
}
.identity-container {
    padding-top: 0.8rem;
}
.cookie-consent {
    border-radius: 0;
}
/* Card overrides */
.card {
    border: 1px solid #0A0A0A;
    border-radius: 0;
    background-color: #121212;
}
.card-text {
    font-size: 14px;
}
.card-img-top {
    border-radius: 0;
}
.card-footer {
    border-top: 1px solid #5C33D6;
    background-color: #0e0e0e;
}
/*-----------Nav Bar & Footer-----------*/
.navbar-toggler-icon {
    background-image: url('../content/static/bars.png');
}
.navbar-custom {
    background-color: #111111;
    border-color: #111111;
}
.nav-link {
    color: #7454D3;
}
.breadcrumb-nav {
    width: 100%;
    padding-top: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    
}
    .breadcrumb-nav ol {
        background-color: #111111;
        border-color: #0A0A0A;
}
.footer-custom {
    border-top: 2px solid #111111;
    width: 100%;
}
.footer-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}    
.social-media-icons {
    font-size: xx-large;
}
.nav-pills-padding {
    padding-bottom: 1rem;
}
/*--------Home Page Customs---------*/
.jumbotron {
    border-radius: 0;
    background-image: url('../content/static/WebsiteIndexBG.png');
    background-size: cover;
}
/*------Terms of Use List Customs--------*/
.numbered-list {
    color: #5C33D6;
}
/*---------Flip cards-----------*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 128px;
    height: 128px;
    border: 1px solid #131313;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #0A0A0A;
    color: #7454D3;
}

/* Style the back side */
.flip-card-back {
    background-color: #0a0a0a;
    transform: rotateY(180deg);
} 


/*--------Form Customs--------*/
.form-control {
    border-radius: 0;
}
.form-title {
    width: 95%;
    margin: 0 auto;
    padding-top: 1.3rem;
}
    .form-title hr {
        border-top: 1px solid #5C33D6;
        width: 95%;
        margin-top: 0;
    }
.title-padding {
    padding-bottom: 0.5rem;
}
.form-content-editing {
    width: 95%;
    margin: 0 auto;
}
    .form-content-editing .padding {
        padding-top: .3rem;
    }
.search-form {
    width: 75%;
    margin: 0 auto;
    padding-top: 0.5em;
}
.form-content-viewing {
    width: 95%;
    margin: 0 auto;
}

/*---------Table Customs-----------*/
.table {
    color: #C195F4;
   
}
    .table th {
        color: #7454D3;
    }




