/*------Fixes for various things------*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
/* Bootstrap padding fix */
[class*="col-"] {
    padding: 0.9rem;
}

/* Reset html and body for custom styles */
html, body {
    height: 100%;
    width: 100%;
    color: #C195F4;
}
/* Darker body to differ navbar & footer and void margin as using padding for spacing*/
body {
    margin: 0;
    background-color: #0A0A0A;
}

/*--------------Navbar Customs----------------------*/
.navbar {
    padding: .4rem;
}
.navbar-toggler-icon {
    background-image: url('../content/static/bars.png');
}
.navbar-custom {
    background-color: #111111;
    border-color: #111111;
}
.nav-link {
    color: #7454D3;
}
.footer-custom {
    border-top: 2px solid #111111;
    width: 100%;
}
    .footer-custom .h6 {
        margin-bottom: 0;
    }
/*--------------------Home Page Customs---------------------*/
.jumbotron {
    border-radius: 0;
    background-image: url('../content/static/WebsiteIndexBG.png');
    background-size: cover;
}

/* Featured posts section*/
.featured-posts {
    width: 75%;
    margin: 0 auto;
}
    .featured-posts hr {
        border-top: 2px solid #5C33D6;
        width: 95%;
        margin-top: .3rem;
        margin-bottom: 1rem;
    }
/* Card overrides */
.card {
    border: 2px solid #000000;
    border-radius: 0;
    background-color: #121212;
}
    .card-text {
        font-size: 14px;
    }
    .card-img-top {
        border-radius: 0;
    }

/*--------Form Customs--------*/
.form-control {
    border-radius: 0;
}
.form-title {
    width: 95%;
    margin: 0 auto;
    padding-top: .5rem;
}
    .form-title hr {
        border-top: 1px solid #5C33D6;
        width: 95%;
        margin-top: 0;
    }
.form-content-editing {
    width: 95%;
    margin: 0 auto;
}
    .form-content-editing .padding {
        padding-top: .3rem;
    }


/*-----Individual Post/Portfolio Item Pages ------*/

.post {
    width: 95%;
    margin: 0 auto;
}
    .post img {
        margin-top: 0;
        object-fit: cover;
    }
    .post hr {
        border-top: 1px solid #5C33D6;
        width: 100%;
        margin: 0 auto;
    }
.comment-section {
    width: 95%;
    margin: 0 auto;
}
    .comment-section h5 {
        text-indent: each-line;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
    .comment-header {
        width: 95%;
        margin: 0 auto;
        
    }
        .comment-header p {
            font-size: 12px; 
        }
    .comment-body {
        width: 95%;
        margin: 0 auto;
        padding-top: 0;
    }
        .username {
            font-size: 14px;
        }
        .message-info {
            font-size: 14px;
        }
    .sub-comment {
        width: 95%;
        margin-left: 20px;
        }

/* Blog/Portfolio List pages*/
.blog-header, .portfolio-header {
    width: 75%;
    margin: 0 auto;
}
    .blog-header hr, .portfolio-header hr {
        border-top: 2px solid #5C33D6;
        width: 95%;
        margin-top: .3rem;
        margin-bottom: 1rem;
    }
    .blog-header p, .portfolio-header p {
        margin-bottom: .1rem;
    }