/*------Fixes for various things------*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
/* Bootstrap padding fix */
[class*="col-"] {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

/* Reset html and body for custom styles */
html, body {
    height: 100%;
    width: 100%;
    color: #C195F4;
}
/* Darker body to differ navbar & footer and void margin as using padding for spacing*/
body {
    margin: 0;
    background-color: #0A0A0A;
    padding-top: 4.5rem;
}
/* General settings */
.btn-default {
    color: #7454D3;
}
.btn-padding {
    padding-right: 1rem;
}
.col-padding {
    padding-bottom: 0.5rem;
}
.border-dark-top {
    border-top: 1px solid #3600D8;
}
/* Card overrides */
.card {
    border: 1px solid #0A0A0A;
    border-radius: 0;
    background-color: #121212;
}
.card-text {
    font-size: 14px;
}
.card-img-top {
    border-radius: 0;
}
.card-footer {
    border-top: 1px solid #5C33D6;
    background-color: #0e0e0e;
}
/*-----------Nav Bar & Footer-----------*/
.navbar-toggler-icon {
    background-image: url('../content/static/bars.png');
}
.navbar-custom {
    background-color: #111111;
    border-color: #111111;
}
.nav-link {
    color: #7454D3;
}
.breadcrumb-nav {
    width: 100%;
    padding-top: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    
}
    .breadcrumb-nav ol {
        background-color: #111111;
        border-color: #0A0A0A;
}
.footer-custom {
    border-top: 2px solid #111111;
    width: 100%;
}
.footer-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}    
.social-media-icons {
    font-size: xx-large;
}
.nav-pills-padding {
    padding-bottom: 1rem;
}
/*--------Form Customs--------*/
.form-control {
    border-radius: 0;
}
.form-title {
    width: 95%;
    margin: 0 auto;
    padding-top: .5rem;
}
    .form-title hr {
        border-top: 1px solid #5C33D6;
        width: 95%;
        margin-top: 0;
    }
.title-padding {
    padding-bottom: 0.5rem;
}
.form-content-editing {
    width: 95%;
    margin: 0 auto;
}
    .form-content-editing .padding {
        padding-top: .3rem;
    }
.search-form {
    width: 75%;
    margin: 0 auto;
    padding-top: 0.5em;
}
.form-content-viewing {
    width: 95%;
    margin: 0 auto;
}

/*---------Table Customs-----------*/
.table {
    color: #C195F4;
}
    .table th {
        color: #7454D3;
    }




