@model IList<Category>
@{

}

<div>
    @foreach (var link in Model)
    {
        <div class="row padding-btm-05 padding-top-05">
            <a class="btn btn-lg btn-default btn-block text-wrap" asp-controller="Home" asp-action="Blog" asp-route-category="@(link.Id)">@(link.CategoryName)</a>
        </div>
    }
</div>